torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
numpy==1.26.4
decord
h5py
ffmpeg-python
yacs
toolz
ipdb
einops
easydict
transformers==4.31.0
webdataset
SentencePiece
tqdm
opencv-python
audioread
librosa
wandb